/* src/Header.css */

.main-header {
  display: flex;
  justify-content: space-between; /* Logo na esquerda, links na direita */
  align-items: center;
  padding: 1rem 2rem;
  background-color: #14484F;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box; /* Garante que o padding não quebre o layout */
}

/* --- LOGO --- */
.logo-container {
  display: flex;
  align-items: center;
  margin: -10px;
}

.logo-img {
  height: 60px; /* Altura do seu logo */
  margin-right: 15px;
}

.logo-text-comeco {
  font-size: 1.5rem;
  font-weight: bold;
  color: #37D78D;
  text-decoration: none;
}

.logo-text-fim {
  font-size: 1.5rem;
  font-weight: bold;
  color: #F00976;
  text-decoration: none;
}

/* --- NAVEGAÇÃO / LINKS --- */
.main-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* Espaçamento entre os links */
}

/* Estilo padrão de todos os links */
.nav-link {
  text-decoration: none;
  color: #C3D3E8;/*#C3D3E8*//*#37D78D*/
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

.nav-link:hover {
 color: #CCDCEC;
 background-color: #124147;
}

/* Link de "destaque" (Cadastro) - usando seu verde */
.nav-link-primary {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  background-color: #238636;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
  border: 1px solid rgba(240, 246, 252, 0.1);
}

.nav-link-primary:hover {
  background-color: #2EA043;
  color: white; /* Garante que o texto fique branco */
}

/* Botão de "Sair" (Logout) - usando seu vermelho */
.nav-button-logout {
  background-color: transparent;
  border: 1px solid #bb020b;
  background-color: #D8000C;
  color: #C3D3E8;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.nav-button-logout:hover {
  background-color: #FFD2D2;
  color: #D8000C;
}