/* /src/LoginPage.css */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  background: #FAFAFA;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.signup-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Isso ajuda a manter o padding sem estourar a largura */
}

.signup-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #37D78D;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.signup-button:hover {
  background-color: #0056b3;
}

.erro-txt{
  
  color: #D8000C; /* Vermelho */
  background-color: #FFD2D2; /* Fundo vermelho claro */
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 1rem;

}